<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href=" {^% static 'css/style.css' %}"> -->
</head>
<body>
    <header>
        <h1>Mein Django Projekt</h1>

        <ul>
            <nav>


           {% if user.is_authenticated %}
         <li>User: {{ user.get_username }}</li>
         <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
           {% else %}
             <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
           {% endif %}
          </nav>
        </ul>
    </header>



    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 - Mein Name</p>
    </footer>
</body>
</html>
