<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        #id_email_zeit {
            width: 100px;
        }
        h1 {
            font-size: 20px;
            color: black;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }


    </style>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>




</body>
</html>